.button {
    width: 100%;
    background: var(--orange-strong);
    color: white;
    border: none;
    padding: 15px 30px;
    cursor: pointer;
    border-radius: 1rem;

    button {
      width: 280px;
      height: 65px;
      cursor: pointer;
      background-color: transparent;
      position: absolute;
      z-index: 2;
      top: -12.5px;
      right: -115px;
      border: none;
      color: var(--text-grey);
    }
  }
  
  .button:disabled {
    background: #888;
    cursor: not-allowed;
  }